<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML API</title>
    {% comment %} <style>
        body {
          background-image:url('static/car.aviff');
          background-size:100%;
        }
        </style> {% endcomment %}
</head>
<body>
    <div class="login">
        <h1>Car Price Analysis</h1>
        <img src="static/car.aviff" alt="Img" width="400px" height="300px"> 
        <form action="{{url_for('predict')}}" method="post">
            <input type="number" name="engine power" placeholder="Engine power"><br>
            <input type="number" name="age and age" placeholder="Age and Age" required>><br>
            <input type="number" name="kilometers" placeholder="Kilometers" required ><br>
            <input type="number" name="previous owner" placeholder="Previous Owner" required ><br>
            <input type="number" name="longue" placeholder="Longue" required><br>
            <input type="number" name="pop" placeholder="Pop"required ><br>
            <input type="number" name="sport" placeholder="Sport" required><br> 
            <button type="submit">predict</button>     
        </form>
        {{prediction_text}}
    </div>
</body>
</html>